.container{
    display: flex;
    justify-content: space-around;
}

.vazia{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vazia p{
    font-size: 64px;
}